.box{
    display: inline-block;
    width: 30vw;
    background: rgba(0, 0, 0, 0.4);
    padding: 8vh;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    margin-left: -15px;
    margin-top: 10px;
}

.box-img{
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
}

.box h1{
    font-size: 7vh;
    letter-spacing: 0.5vh;
    font-weight: 100;
}
.box h5{
    font-size: 4vh;
    letter-spacing: 0.2vh;
    font-weight: 100;
}

.box p{
    text-align: justify;
    margin-top: 2vh;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 3vh;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 10vh;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}
